

<html>

    <head>
        <title>PICKLUSTER</title>
        <link rel="stylesheet" type="text/css" href="/chimerax/ui/html/css/bootstrap-3.3.7.css">
    </head>
    <style> body{line-height: 1.15, background-color: Cornsilk} </style>
    
    <body>
        <form method="get">
        <style>
        h1 {text-align: center;}
        legend {color: FireBrick}


        </style>
        <h1>PICKLUSTER</h1>
        <br>
            <div class="container" id="general">
                <fieldset>
                    <legend><strong>Required parameters:</strong></legend>
                        
                        <div>
                            <label for="chain1">Model number:Chain 1</label>
                            <select id="chain1" name= chain1 method="GET" action="/">
                                {% for chain in chain1 %}
                                    <option>{{ chain }}</option>
                                {% endfor %}

                            </select>

                        </div>
                        <div>
                            <label for="chain2">Model number:Chain 2</label>
                             <select id="chain2" name= chain2 method="GET" action="/">
                                 {% for chain in chain2 %}
                                     <option>{{ chain }}</option>
                                 {% endfor %}

                             </select>
                        </div>
                        <p>Note: Model number has to be the same</p>
                        
                        <p style="color: #FFA500"><strong>OR</strong></p>
                        
                         <div>
                             <input type="checkbox" id="whole" name="whole">
                             <label for="whole">Calculate interfaces for all chains in model <select id="models" name= models method="GET" action="/">
                                 {% for model in models %}
                                     <option>{{ model }}</option>
                                 {% endfor %}

                             </select></label>
                         </div>
                        
                        
                        <br>
                        
                         <div>
                             <label for="clustering">Interface calculation:</label>
                             <select name="clustering" id="clustering" required>
                                 <option value="with">With clustering</option>
                                 <option value="without">Without clustering</option>
                             </select>
                         </div>
                         <br>
                         
                         
                         
                        <div class>
                            <label for="cluster-cutoff">Cutoff for interface clustering (required if 'With clustering' is selected):</label>
                            <input class="form-control" name="cluster-cutoff" id="cluster-cutoff" type="number" min="0.0" max="20.0" value="5.0" step="0.5" required>
                        </div>
                        <div>
                            <label for="inputtype">Type of input:</label>
                            <select name="inputtype" id="inputtype" required>
                                <option value="structure">Protein complex structure</option>
                                <option value="alphafold">Protein complex model (AlphaFold)</option>
                            </select>
                        </div>
                        <div class>
                            <label for="plddtcutoff">pLDDT cutoff for interface calculation:</label>
                            <input class="form-control" name="plddtcutoff" id="plddtcutoff" type="number" min="0.0" max="100.0" value="50">
                        </div>
                </fieldset>
            </div>
            <br>
              
            <div class="container" id="color">
                <fieldset>
                    <legend><strong>Color options:</strong></legend>
                        <div>
                            <input type="checkbox" id="Colorseq" name="Colorseq">
                            <label for="Colorseq">Color clusters in sequence (requires a saving directory)</label>
                        </div>
                        <div>
                            <label for="path">Path to saving directory:</label>
                            <input class="form-control" id="path" name="path" type="text" placeholder="Enter directory path">  
                        </div>
                        <div>
                            <input type="checkbox" id="plddt" name="plddt">
                            <label for="plddt">Color clusters by pLDDT (if AlphaFold complex model)</label>
                        </div>
                </fieldset>
            </div> 
            <br>
            <div class="container" id="output">
                <fieldset>
                    <legend><strong>Output options:</strong></legend>
                        <div>
                            <input type="checkbox" id="resint" name="resint">
                            <label for="resint">Show residue interactions in clusters in Log</label>
                        </div>
                        <div>
                            <input type="checkbox" id="atmint" name="atmint">
                            <label for="atmint">Display atomic interactions within the clusters</label>
                        </div>
                         <p>Note: Atomic interactions are saved as a new object, thus require calculation only once per session.</p>
                </fieldset>
            </div>     
            <br>          
            <div class="container" id="scores">
                <fieldset>
                     <legend><strong>Scores:</strong></legend>
                         <div>
                             <input type="checkbox" id="meanplddt" name="meanplddt">
                             <label for="meanplddt">Calculate mean pLDDT per cluster</label>
                         </div>
                         <div>
                             <label for="scorefile">Filepath for score calculation of following scores (.json/.pkl):</label>
                             <input class="form-control" id="scorefile" name="scorefile" type="text" placeholder="Enter filepath"> 
                         <div>
                             <input type="checkbox" id="paescore" name="paescore">
                             <label for="paescore">Make PAE matrix</label>
                         </div>
                         <div>
                             <input type="checkbox" id="maxpae" name="maxpae">
                             <label for="maxpae">Max. PAE</label>
                         </div>
                         <div>
                             <input type="checkbox" id="paescorecl" name="paescorecl">
                             <label for="piscorecl">Calculate mean PAE-score per cluster</label>
                         </div>
                         <div>
                             <input type="checkbox" id="ptm" name="ptm">
                             <label for="ptm">pTM</label>
                         </div>
                         <div>
                             <input type="checkbox" id="iptm" name="iptm">
                             <label for="iptm">ipTM</label>
                         </div>
                         <div>
                             <input type="checkbox" id="confidence" name="confidence">
                             <label for="confidence">Model confidence (AlphaFold definition)</label>
                         </div>
                         
                </fieldset>
            </div> 
            <br>   
            <div class="buttons">
                <button type="reset">Reset</button>
                <input class="submit" type="submit" formaction="pickluster:run" />
                <button type="botton" onclick="alert('PICKLUSTER help page: https://gitlab.com/topf-lab/pickluster/-/blob/main/README.md')">Help</button>
                
                
                            
            
            </div>
            </form>
    
    </body>
</html>
  

    

